body{
    margin: 0%;

  }
  .imgcontainer {
    background: url('../../assets/skull.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    height: 418px;
    width: 100%;
    padding: 10px;
  }

  .container {
    max-width: 100%;
    max-height: 25%;
    padding: 10px 10px ;
    justify-content: center;
    background: #11272cd8;
    border-radius: 10px;
  }

  .header {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header p {
    color: orange;
    margin-left: 20px;
    font-size: 14px;
  }
  .headerimg {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .body {
    height: 30px;
    color: white;
    padding: 2px;
  }
  .body p {
    font-size: 9px;
  }
  .footer {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .footer .fimg {
    width: 15px;
    height: 15px;
    margin: 10px;
  }
